*{
    font-family: 'Yantramanav', sans-serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: wheat;
}
.logo{
    display: flex;
    padding-top: 7px;
}
.logo h1{
    font-family: 'Bangers', cursive;
    font-size: 5rem;
    margin: 0 15px;
    align-self: center;
    letter-spacing: 3px;
}
.logo__png{
    height: 8rem;

}
.interfaz{
    display: flex;
}
.lupa{
    height: 2.5rem;
    margin-right: 30px;
}
.login{
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: chocolate;
    color: black;
    padding: 10px 35px;

}
.header-button{
    padding: 7px 14px;
    background-color: coral;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: none;
    font-size: 20px;
    margin-left: 30px;
}
.cartNumber{
    font-size: 14px;
    background: #000000;
    line-height: 1;
    padding: 0.3em 0.5em 5px;
    border-radius: 99em;
    position: absolute;
    top: 30px;
    color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(18, 37, 88);
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.titleCart{
    color: #ffffff;
    padding-top: 7px;
    text-align: center;
    font-size: 24px;
}
.articleCart{
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    display: flex;
}
.articleCart img{
    width: 30%;
    border-radius: 7px;
}
.textCart{
    color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 8px;
}
.addButton,
.subtractButton{
    background-color: cornflowerblue;
    border-radius: 100%;
    border: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.hr{
    height: 1px;
    margin: 40px 20px;
    border: none;
    background: rgb(204, 204, 204);
}
.divPrice{
    display: flex;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    margin: 20px;
    color: #ffffff;
}
.totalPrice{
    padding: 0px 5px;
}
.buttonsCart{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0.2em;
}
.btnCart{
    background-color: gray;
    font-weight: 900;
    border: 2px solid;
    border-radius: 10px;
    padding: 4px 14px;
    max-width: 149px;
    cursor: pointer;
    letter-spacing: 0.03em;
    margin-bottom: 40px;
    transition: 0.5s;
}
.btnDelete{
    border: none;
    background-color: rgb(18, 37, 88);
    cursor: pointer;   
    width: 0px;
    position: relative;
    left: 20px;
}