main{
    height: 40vh;
    background-color: cornflowerblue;
}
.login__form{
    display: flex;
    flex-direction: column;
    margin: 0 38rem;
    padding-top: 4rem;
}
.login__form input{
    margin-bottom: 0.7rem;
    border-radius: 10px;
    padding-bottom: 0.5rem;
    text-align: center;
}
